<!-- <p>tep works!</p> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
    <div class="container-fluid">
    <h3 class = "text-white"><b>Result Management System</b></h3>
        <span class="navbar-text">
            <button class="btn btn-outline-warning" type="submit">Logout</button>
        </span>
    </div>
</nav>
<div class= "nav nav-underline nav-pills nav-justify mt-3 ms-1">
    <a class="nav-link active " aria-current="page" href="#">Back</a>
</div>

<form action="#" id="enrollmentForm" class="p-5 ">

    <div class="row mb-1">
        <div class="col-4">
            <label for="nameField" class="form-label">Name</label>
        </div>
        <div class="col-8">
            <input type="text" name="name" id="nameField" class="form-control-sm" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-4">
            <label class="form-label">Roll No.</label>
        </div>
        <div class="col-8">
            <input type="number" name="number" id="rollno" class="form-control-sm" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-4">
            <label class="form-label">Date of Birth</label>
        </div>
        <div class="col-8">
            <input type="date" name="dob" id="date" class="form-control-sm" required>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-4">
            <label class="form-label">Score</label>
        </div>
        <div class="col-8">
            <input type="number" name="score" id="score" class="form-control-sm">
        </div>
    </div>
    
    <button type="submit" class="btn btn-warning me-3">Submit</button>
    <button type="reset" class="btn btn-danger">Clear</button>
</form>

