
<!-- <app-tlp></app-tlp> -->
<!-- <app-tdp></app-tdp> -->
<!-- <app-tep></app-tep> -->

<body>
    <h3 class="text-center mt-5  bg-success text-white">Result Management System</h3>
    
        <p class = "text-center mt-5 mb-5"><b>Login As</b></p>
        <div class = "container text-center mt-5">
                <div >
                    <a routerLink ="tlp">
                        <button class=" btn btn-info">Teacher</button>
                    </a>
                    <a routerLink ="slp">
                        <button class ="btn btn-warning">Student</button>
                    </a>
    
                    
                </div>
            </div>
        </body>
        <router-outlet></router-outlet>