<!-- <p>tdp works!</p> -->
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
        <div class="container-fluid">
        <h3 class = "text-white"><b>Result Management System</b></h3>
            <span class="navbar-text">
                <button class="btn btn-outline-warning" type="submit" (click)= "logoff()">Logout</button>
            </span>
        </div>

    </nav>
<div class = "mt-4 me-2 bg-body-tertiary">
    <button style ="float:right" class = "btn btn-info" (click) = "onClick()">Add Record</button>
</div>
<table class="table table-success table-hover">
    <thead style="background-color: hsla(27, 100%, 50%, 0.3)">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Score</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
</body>