<!-- <p>srp works!</p> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
    <div class="container-fluid">
    <h3 class = "text-white"><b>Result Management System</b></h3>
        <span class="navbar-text">
            <button class="btn btn-outline-warning" type="submit">Logout</button>
        </span>
    </div>

</nav>
<div class= "nav nav-underline nav-pills nav-justify mt-3 ms-1">
    <a class="nav-link active " aria-current="page" href="#">Back</a>
</div>

<div class="container">
    <div style="background-color: hsl(109, 56%, 44%);">
        <p class="m-0 px-3 py-1 fs-3 fw-bold text-light">Result</p>
    </div>
    <form class="px-3 py-1" style="background-color: hsla(40, 5%, 95%, 0.3);">
        <div class="row my-3">
            <label class="col-2 form-label" for="name">Name:</label>
        </div>
        <div class="row my-3">
            <label class="col-2 form-label" for="number">Roll No:</label>
        </div>
        <div class="row my-3">
            <label class="col-2 form-label" for="date">Date of Birth:</label>
        </div>
        <div class="row my-3">
            <label class="col-2 form-label" for="number">Score:</label>
        </div>
    </form>
</div>